<div class="w-full px-4 py-3 flex flex-col justify-center items-center" style="position:fixed; bottom: -5px;">
  <p class="text-sm text-gray-500">© <%= Date.current.year %> QRCodgen - All reserved rights</p>
</div>