<div class="flex px-6 py-4 w-full mb-2 shadow-sm">
  <%= image_tag asset_path('icons8-barcode-48.png'), size: 24 %>
  <ul class="w-full flex flex-row justify-end space-x-3">
    <li>
      <a href="#">about us</a>
    </li>
    <li>
      <a href="#">dark</a>
    </li>
  </ul>
</div>